In [1]:
    import pandas as pd
    import numpy as np

In [3]:
df = pd.read_excel('uber_rides_data.xlsx')

In [4]:
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

##### What is the shape of given dataset?

In [5]:
df.shape

(200000, 8)

##### How many integer columns(by default) are given in the dataset?

In [12]:
df.dtypes

ride_id                int64
fare_amount          float64
pickup_datetime       object
pickup_longitude     float64
pickup_latitude      float64
dropoff_longitude    float64
dropoff_latitude     float64
passenger_count        int64
dtype: object

In [14]:
df.select_dtype(include = 'int64')

         ride_id  passenger_count
0       24238194                1
1       27835199                1
2       44984355                1
3       25894730                3
4       17610152                5
...          ...              ...
199995  42598914                1
199996  16382965                1
199997  27804658                2
199998  20259894                1
199999  11951496                1

[200000 rows x 2 columns]

##### How many missing values exists in 'dropoff_longitude' column?

In [15]:
df['dropoff_longitude'].isnull().sum()

1

##### What is the data type of ' pickup_datetime' feature in your data?

In [17]:
print(df['pickup_datetime'].dtype)

object

##### Which of the following is the correct syntax to convert 'pickup_datetime' to datetime datatype?

In [19]:
pd.to_datetime(df['pickup_datetime'])

0        2015-05-07 19:52:06+00:00
1        2009-07-17 20:04:56+00:00
2        2009-08-24 21:45:00+00:00
3        2009-06-26 08:22:21+00:00
4        2014-08-28 17:47:00+00:00
                    ...
199995   2012-10-28 10:49:00+00:00
199996   2014-03-14 01:09:00+00:00
199997   2009-06-29 00:42:00+00:00
199998   2015-05-20 14:56:25+00:00
199999   2010-05-15 04:08:00+00:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns, UTC]

In [21]:
df['pickup_datetime'].astype('datetime64[ns]')

0        2015-05-07 19:52:06
1        2009-07-17 20:04:56
2        2009-08-24 21:45:00
3        2009-06-26 08:22:21
4        2014-08-28 17:47:00
                 ...
199995   2012-10-28 10:49:00
199996   2014-03-14 01:09:00
199997   2009-06-29 00:42:00
199998   2015-05-20 14:56:25
199999   2010-05-15 04:08:00
Name: pickup_datetime, Length: 200000, dtype: datetime64[ns]

##### Which function can be used to remove null values from the dataframe?

In [22]:
df.dropna()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...
199995,42598914,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

##### What is the average fare amount?

In [23]:
df['fare_amount'].mean()

11.359955250000002

##### Calculate distance between each pickup and dropoff points using Haversine formula. 
##### What is the median haversine distance between pickup and dropoff location according to the given dataset?

In [31]:
def distance(origin, destination):
 
    lat1, lon1 = origin
    lat2, lon2 = destination
    radius = 6371  # km
 
    dlat = math.radians(lat2-lat1)
    dlon = math.radians(lon2-lon1)
    a = math.sin(dlat/2) * math.sin(dlat/2) + math.cos(math.radians(lat1)) \
        * math.cos(math.radians(lat2)) * math.sin(dlon/2) * math.sin(dlon/2)
    c = 2 * math.atan2(math.sqrt(a), math.sqrt(1-a))
    d = radius * c
 
    return d

In [44]:
import pandas as pd
import numpy as np

# Define the Haversine function
def haversine(lat1, lon1, lat2, lon2):
    # Radius of the Earth in kilometers
    R = 6371.0
    
    # Convert latitude and longitude from degrees to radians
    lat1_rad = np.radians(lat1)
    lon1_rad = np.radians(lon1)
    lat2_rad = np.radians(lat2)
    lon2_rad = np.radians(lon2)
    
    # Haversine formula
    dlon = lon2_rad - lon1_rad
    dlat = lat2_rad - lat1_rad
    a = np.sin(dlat / 2)**2 + np.cos(lat1_rad) * np.cos(lat2_rad) * np.sin(dlon / 2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1 - a))
    
    # Calculate the distance
    distance = R * c
    
    return distance

# Load your dataset into a pandas DataFrame (replace 'your_dataset.csv' with your dataset file path)
df = pd.read_excel('uber_rides_data.xlsx')

# Calculate Haversine distances and add them to the DataFrame
df['haversine_distance'] = haversine(df['pickup_latitude'], df['pickup_longitude'], df['dropoff_latitude'], df['dropoff_longitude'])

# Find the median Haversine distance
median_distance = df['haversine_distance'].median()
print("Median Haversine Distance:", median_distance)

Median Haversine Distance: 2.120992396182902

##### What is the maximum haversine distance between pickup and dropoff location according to the given dataset?

In [57]:
max_distance = df['haversine_distance'].max()

max_distance

16409.23913531317

##### How many rides have 0.0 haversine distance between pickup and dropoff location according to the given dataset?

In [59]:
zero_distance_rides = df[df['haversine_distance'] == 0.0]

num_zero_distance_rides = len(zero_distance_rides)

num_zero_distance_rides

5632

##### What is the mean 'fare_amount' for rides with 0 haversine distance?

In [60]:
mean_fare_zero_distance = zero_distance_rides['fare_amount'].mean()

mean_fare_zero_distance

11.585317826704546

##### What is the maximum 'fare_amount' for a ride?

In [61]:
max_fare_amount = df['fare_amount'].max()

max_fare_amount

499.0

##### What is the haversine distance between pickup and dropoff location for the costliest ride?

In [62]:
costliest_ride = df[df['fare_amount'] == max_fare_amount].iloc[0]

haversine_distance_costliest_ride = haversine(costliest_ride['pickup_latitude'], costliest_ride['pickup_longitude'], costliest_ride['dropoff_latitude'], costliest_ride['dropoff_longitude'])

haversine_distance_costliest_ride

0.0007899213191009994

##### How many rides were recorded in the year 2014?

In [53]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

rides_2014 = df[df['pickup_datetime'].dt.year == 2014]

num_rides_2014 = len(rides_2014)

print("Number of rides recorded in the year 2014:", num_rides_2014)

Number of rides recorded in the year 2014: 29968

##### How many rides were recorded in the first quarter of 2014?

In [54]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

rides_first_quarter_2014 = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]

num_rides_first_quarter_2014 = len(rides_first_quarter_2014)

print("Number of rides recorded in the first quarter of 2014:", num_rides_first_quarter_2014)

Number of rides recorded in the first quarter of 2014: 7687

##### On which day of the week in September 2010, maximum rides were recorded ?

In [56]:
df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'])

rides_september_2010 = df[(df['pickup_datetime'].dt.year == 2010) & (df['pickup_datetime'].dt.month == 9)]

max_rides_day = rides_september_2010['pickup_datetime'].dt.day_name().mode()[0]

max_rides_day

'Thursday'