In [1]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.read_csv("data/deliveries.csv")

df1.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [4]:
df2 = pd.read_csv('data/matches.csv')

df2.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [5]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 21 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          179078 non-null  int64
 1   inning            179078 non-null  int64
 2   batting_team      179078 non-null  object
 3   bowling_team      179078 non-null  object
 4   over              179078 non-null  int64
 5   ball              179078 non-null  int64
 6   batsman           179078 non-null  object
 7   non_striker       179078 non-null  object
 8   bowler            179078 non-null  object
 9   is_super_over     179078 non-null  int64
 10  wide_runs         179078 non-null  int64
 11  bye_runs          179078 non-null  int64
 12  legbye_runs       179078 non-null  int64
 13  noball_runs       179078 non-null  int64
 14  penalty_runs      179078 non-null  int64
 15  batsman_runs      179078 non-null  int64
 16  extra_runs        179078 non-null  int64
 17  total_runs        179078 non-null  int64
 18  player_dismissed  8834 non-null    object
 19  dismissal_kind    8834 non-null    object
 20  fielder           6448 non-null    object
dtypes: int64(13), object(8)
memory usage: 28.7+ MB

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

 ### 1. Which of the following is the right way to merge 2 datasets for getting better insights from the data

In [7]:
#better insights from the data
merged_data = pd.merge(df1, df2, left_on='match_id', right_on='id', how='left')

In [8]:
merged_data

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
179073,11415,2,Chennai Super Kings,Mumbai Indians,20,2,RA Jadeja,SR Watson,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179074,11415,2,Chennai Super Kings,Mumbai Indians,20,3,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179075,11415,2,Chennai Super Kings,Mumbai Indians,20,4,SR Watson,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179076,11415,2,Chennai Super Kings,Mumbai Indians,20,5,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong
179077,11415,2,Chennai Super Kings,Mumbai Indians,20,6,SN Thakur,RA Jadeja,SL Malinga,0,...,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

### 2. The column which has the most missing values according to the data is:

In [9]:
merged_data.isnull().sum()

match_id                 0
inning                   0
batting_team             0
bowling_team             0
over                     0
ball                     0
batsman                  0
non_striker              0
bowler                   0
is_super_over            0
wide_runs                0
bye_runs                 0
legbye_runs              0
noball_runs              0
penalty_runs             0
batsman_runs             0
extra_runs               0
total_runs               0
player_dismissed    170244
dismissal_kind      170244
fielder             172630
id                       0
season                   0
city                  1700
date                     0
team1                    0
team2                    0
toss_winner              0
toss_decision            0
result                   0
dl_applied               0
winner                 372
win_by_runs              0
win_by_wickets           0
player_of_match        372
venue                    0
umpire1                500
umpire2                500
umpire3             150712
dtype: int64

### 3. City which hosted most number of seasons according to the data is:

In [10]:
most_hosted_city = merged_data['city'].value_counts().idxmax()

print("City that hosted the most number of seasons:", most_hosted_city)

City that hosted the most number of seasons: Mumbai

### 4. Which year has the most number of matches played?

In [17]:
# Convert 'date' column to datetime format
merged_data['date'] = pd.to_datetime(merged_data['date'])

# Extract the year from the 'date' column
merged_data['year'] = merged_data['date'].dt.year

In [19]:
matches_per_year = merged_data['year'].value_counts()

matches_per_year

2013    18177
2012    17767
2011    17013
2010    14498
2019    14328
2014    14300
2018    14290
2016    14096
2017    13862
2015    13652
2009    13606
2008    13489
Name: year, dtype: int64

In [20]:
most_matches_year = matches_per_year.idxmax()

most_matches_year

2013

### 5. Maximum wins by Mumbai Indians in 2011 are

In [23]:
# Filter data for Mumbai Indians in 2011
mi_2011 = merged_data[(merged_data['team1'] == 'Mumbai Indians') | (merged_data['team2'] == 'Mumbai Indians')]
mi_2011 = mi_2011[mi_2011['year'] == 2011]

In [24]:
# Count the number of wins for Mumbai Indians in 2011
mi_wins_2011 = mi_2011[mi_2011['winner'] == 'Mumbai Indians']['match_id'].nunique()

print("Maximum wins by Mumbai Indians in 2011:", mi_wins_2011)

Maximum wins by Mumbai Indians in 2011: 10

### 6. For 'toss_decision' feature what kind of plot is suitable?

For visualizing the distribution of categories in the 'toss_decision' feature, a bar plot is generally more suitable than a pie plot. Bar plots are effective for showing the count or frequency of each category in a categorical variable, making them a good choice for visualizing the distribution of 'toss_decision' categories.

### 7.  What is the percentage of getting bat and field in feature 'toss_descision'?

In [25]:
toss_decision_counts = merged_data['toss_decision'].value_counts()

In [27]:
# Calculate the percentage
percentage_bat = (toss_decision_counts['bat'] / len(merged_data['toss_decision'])) * 100
percentage_field = (toss_decision_counts['field'] / len(merged_data['toss_decision'])) * 100

In [28]:
print(f"Percentage of choosing 'bat': {percentage_bat:.2f}%")
print(f"Percentage of choosing 'field': {percentage_field:.2f}%")

Percentage of choosing 'bat': 39.01%
Percentage of choosing 'field': 60.99%

### 8.  Which statement holds true
##### A) Teams winning tosses and electing field first have won more number of matches.
##### B) Teams winning tosses and electing bat first have won more number of matches.
##### C) Both A and B
##### D) None of the above

In [30]:
# Convert 'winner' column to indicate 1 for win and 0 for loss

merged_data['win_indicator'] = (merged_data['team1'] == merged_data['winner']) | (merged_data['team2'] == merged_data['winner']).astype(int)

In [32]:
# Calculate the number of matches won based on toss decision
matches_won_by_bat = merged_data[merged_data['toss_decision'] == 'bat']['win_indicator'].sum()
matches_won_by_field = merged_data[merged_data['toss_decision'] == 'field']['win_indicator'].sum()

In [33]:
# Determine the option
if matches_won_by_field > matches_won_by_bat:
    result_option = "(option A)"
elif matches_won_by_bat > matches_won_by_field:
    result_option = "(option B)"
else:
    result_option = "C) Both A and B."

print(result_option)

(option A)

### 9. In which years where taking batting second have won more number of matches?

In [37]:

merged_data['win_indicator'] = (merged_data['team2'] == merged_data['winner']).astype(int)


matches_won_batting_second = merged_data[merged_data['win_indicator'] == 1].groupby('year').size()


years_with_more_wins_batting_second = matches_won_batting_second[matches_won_batting_second == matches_won_batting_second.max()].index.tolist()

print("Years where taking batting second has won more number of matches:", years_with_more_wins_batting_second)

Years where taking batting second has won more number of matches: [2016]

### 10. To plot the most consistent batsmen among top 10 run getters, what plotting technique we use?

To visualize the consistency among the top 10 run-getters, a line plot would be a suitable choice. Line plots are effective for showing trends or patterns over a continuous variable (such as time or rank), making them useful for displaying the performance of batsmen across matches or seasons.

### 11. In 2019 which batsman scored highest number of runs by hitting 6's and 4's?

In [41]:
merged_data['date'] = pd.to_datetime(merged_data['date'])


merged_data['year'] = merged_data['date'].dt.year

In [42]:
# Filter data for 2019
data_2019 = merged_data[merged_data['year'] == 2019]

# Calculate runs scored by each batsman from 6's and 4's
runs_by_6_and_4 = data_2019.groupby('batsman')['batsman_runs'].sum()

In [43]:
# Find the batsman with the highest runs from 6's and 4's
top_batsman_2019 = runs_by_6_and_4.idxmax()
highest_runs_2019 = runs_by_6_and_4.max()

print(f"In 2019, the batsman hitting 6's and 4's is {top_batsman_2019} with {highest_runs_2019} runs.")

In 2019, the batsman hitting 6's and 4's is DA Warner with 727 runs.

### 12. Most number of wickets taken by a bowler is

In [44]:
wickets_by_bowler = df[df['dismissal_kind'].notnull()].groupby('bowler')['dismissal_kind'].count()

In [46]:
# Find the bowler with the most number of wickets
top_bowler = wickets_by_bowler.idxmax()
most_wickets = wickets_by_bowler.max()

print(f"The bowler most wickets is {top_bowler} with {most_wickets} wickets.")

The bowler most wickets is SL Malinga with 188 wickets.

### 13.  What is the strike rate of Kohli in 2016

In [48]:
# Filter data for Virat Kohli in 2016
kohli_2016 = merged_data[(merged_data['batsman'] == 'V Kohli') & (merged_data['year'] == 2016)]

# Calculate the total runs scored by Kohli in 2016
total_runs_kohli_2016 = kohli_2016['batsman_runs'].sum()

# Calculate the total balls faced by Kohli in 2016
total_balls_faced_kohli_2016 = kohli_2016.shape[0]

In [49]:
# Calculate the strike rate
strike_rate_kohli_2016 = (total_runs_kohli_2016 / total_balls_faced_kohli_2016) * 100

print(f"Virat Kohli's strike rate in 2016 was: {strike_rate_kohli_2016:.2f}")

Virat Kohli's strike rate in 2016 was: 148.55

### 14.  Bowlers with maximum number of extras:

In [50]:
extras_by_bowler = df.groupby('bowler')['extra_runs'].sum()
max_extras_bowlers = extras_by_bowler[extras_by_bowler == extras_by_bowler.max()]

In [51]:
print(max_extras_bowlers)

bowler
SL Malinga    293
Name: extra_runs, dtype: int64

### 15. Which venue has hosted most number of IPL matches?

In [53]:
matches_per_venue = df2['venue'].value_counts()
most_matches_venue = matches_per_venue.idxmax()
print("Venue that has hosted the most number of IPL matches:", most_matches_venue)

Venue that has hosted the most number of IPL matches: Eden Gardens

### 16. In 2017 when sunrisers hyderabad clashed against Royal Challengers Bangalore which team player won player of the match?

In [56]:
# Filter data for the match between srh and rcb in 2017
match_2017 = merged_data[((merged_data['team1'] == 'Sunrisers Hyderabad') & (merged_data['team2'] == 'Royal Challengers Bangalore') | 
                            (merged_data['team1'] == 'Royal Challengers Bangalore') & (merged_data['team2'] == 'Sunrisers Hyderabad')) & 
                           (merged_data['season'] == 2017)]

In [59]:
# Extract the match ID
match_id_2017 = match_2017['match_id'].values[0]

In [60]:
# Filter data for the Player of the Match in the identified match
player_of_match = merged_data[merged_data['match_id'] == match_id_2017]['player_of_match'].values[0]

print(f"SRH and RCB in 2017 man of the match was: {player_of_match}")

SRH and RCB in 2017 man of the match was: Yuvraj Singh

### 17. Across seasons who are the top three batsman's with most number of run out?

In [61]:
# Filter data for run-out dismissals
run_outs_data = df[df['dismissal_kind'] == 'run out']

In [62]:
# Calculate the number of run-outs for each batsman
run_outs_by_batsman = run_outs_data['batsman'].value_counts()
# Get the top three batsmen with the most run-outs
top_three_run_out_batsmen = run_outs_by_batsman.head(3)
print(top_three_run_out_batsmen)

MS Dhoni      21
RG Sharma     17
KD Karthik    16
Name: batsman, dtype: int64

### 18. What are the total runs scored by V Kohli when the bowler was JJ Burmah?

In [63]:

kohli_vs_bumrah = df[(df['batsman'] == 'V Kohli') & (df['bowler'] == 'JJ Bumrah')]

# Calculate the total runs scored by V Kohli against JJ Bumrah
total_runs_kohli_vs_bumrah = kohli_vs_bumrah['batsman_runs'].sum()

print(f" Virat Kohli against JJ Bumrah: {total_runs_kohli_vs_bumrah}")

 Virat Kohli against JJ Bumrah: 112

### 19. Across all seasons which player was dismissed the maximum number of times via caught and bowled

In [64]:
caught_and_bowled_data = df[df['dismissal_kind'] == 'caught and bowled']

caught_and_bowled_by_player = caught_and_bowled_data['batsman'].value_counts()

In [65]:
max_caught_and_bowled_player = caught_and_bowled_by_player.idxmax()
max_caught_and_bowled_count = caught_and_bowled_by_player.max()

In [66]:
print(f"Player dismissed  maximum with caught and bowled: {max_caught_and_bowled_player} with {max_caught_and_bowled_count} dismissals.")

Player dismissed  maximum with caught and bowled: SK Raina with 7 dismissals.

### 20. which player has the highest hard-hitting ability?

In [67]:
player_strike_rate = df.groupby('batsman')['batsman_runs'].count() / df.groupby('batsman')['ball'].count() * 100

# Calculate the number of boundaries (fours and sixes) for each player
player_boundaries = df[df['batsman_runs'].isin([4, 6])].groupby('batsman')['batsman_runs'].count()

In [68]:
# Calculate the number of boundaries (fours and sixes) for each player
player_boundaries = df[df['batsman_runs'].isin([4, 6])].groupby('batsman')['batsman_runs'].count()

In [71]:
# Combine strike rate and number of boundaries
hard_hitting_ability = player_strike_rate * player_boundaries

# Get the player with the highest hard-hitting ability
max_hard_hitting_player = hard_hitting_ability.idxmax()


print(f"hard-hitting ability: {max_hard_hitting_player} ")

hard-hitting ability: CH Gayle